/* header */
header{
    background-color: var(--color-amarillo);

}

header img{
    width: 38%;
    padding: 28px 0 12px; 
    margin-left: 24px; 
}

header .buscador{
    margin-left: 15px;

}
header .buscador .buscar{
    width: 170px;
}

header .buscador button{
    display: block;
}

header p{
    text-align: center;
    font-size: 12px;
    margin-top: 12px;
}
header nav ul{
    margin-top: 20px;
    line-height: 14px;
}
header nav ul a{
    color: black;
    font-size: 12px;
}

.burger-menu{
    text-align: center;
    padding: 16px 2px;
    border: none;
}

header .burger-menu .fas{
    color: white;
    background-color: var(--color-celeste);
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
}

/* main */
main{
    background-color: var(--color-gris-claro);
    padding-bottom: 10px;
}
main .productos{
    width: 90%;
    margin-left: 5%;
}
main .productos h3{
    font-size: 24px; 
    color: var(--color-gris-oscuro); 
    padding: 10px 0 5px; 
}
main .productos article{
    width: 100%; 
    background-color: white;
    margin: 10px 0; 
}
main .productos article img{
    width: 100%; 
}
main .productos article .caja{
    border-top: 1px solid var(--color-gris-claro); 
    padding: 15px; 
}
main .productos article .caja p{
    font-size: 18px; 
}

main .productos article .caja h4{
    font-size: 16px; 
    color: var(--color-gris-oscuro); 
    padding-top: 20px;
    display: none; 
}
main .banner{
    width: 100%;
}


main .productos article span{
    font-size: 16px;
    color: var(--color-verde);
}

main .productos article .caja .fa-truck{
    font-size: 16px;
    border: 1px solid var(--color-verde);
    border-radius: 50%;
    padding: 12px 10px;
    color: var(--color-verde);

}

/* footer */

footer{
    background-color: white;
    text-align: center;
    color: var(--color-gris-oscuro);

}

footer section .fas{
    font-size: 2em;
    color: var(--color-celeste);
    padding: 60px 0 10px ;
}
footer section h4{
    font-size: 18px;
    padding: 0 40px;

}
footer section p{
    font-size: 12px;
    padding: 0 40px;
}
.copy {
    font-size: 12px;
    text-align: left;
    padding: 60px 0 30px 10px ;
    color: var(--color-gris-oscuro);
}

@media (min-width: 361px){
    /*header*/
        header .logo{
            width: 31%; 
            padding: 15px 0 10px;
        }
        header nav, main .productos article .caja h4{
            display: block; 
        } 
    
        header nav ul{
            display:initial; 
        }
        header .burger-menu{
            display: none; 
        }
    
    /*main*/
        main .productos article{
            box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        }
        
    }
    
    @media (min-width: 426px){
        
    /*main*/
        main .productos{
            width: 100%; 
            margin-left: 0%; 
            padding-left: 2%; 
            overflow: hidden; 
        }
        main .productos article{
            width: 48.5%; 
            float: left; 
            margin-right: 1%; 
        }
    }
    
    @media (min-width: 769px){
    
    /* header */
        header .logo{
            width: 22%; 
        }
    
    /* main */   
        main .productos{
            padding-left: 1%; 
        }
        main .productos article{
             width: 24%; 
        }
        
    }